.capa-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    /* Cambia la orientación a columna */
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* Agrega espacio entre los botones */
    gap: 10px; 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.contenedor-imagen:hover .capa-hover {
    opacity: 1;
}